{% extends "feeds/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <h3 class="white-important mb-3">
        Our Team
    </h3>
   <article class="media content-section">
        <div style="width: 100%; word-break: break-all;">
            <h5>
                | 16519015 | Steven Nataniel              <br/>
                | 16519118 | Zarfa Naida Pratista         <br/>
                | 16519127 | Muhammad Raflie Dwi Putra   <br/>
                | 16519149 | Elisabeth Gunawan            <br/>
                | 16519280 | Alvin Rizqi Alfisyahrin      <br/>
                | 16519318 | Benidictus Galih Mahar Putra <br/>
                | 16519342 | Muhammad Dzaki Razaan Faza  <br/>
                | 16519361 | Nadilla Putri Pratiwi        <br/>
                | 16519463 | Albertus Agung Sinurat       <br/>
                | 16519466 | Febriawan Ghally Ar Rahman   <br/>
                | 16519479 | Azmi Muhammad Syazwana       <br/>
                | 16519452 | Vania Alya Qonita            <br/>
            </h5>
        </div>
   </article>
  </div>
{% endblock content %}