{% extends "feeds/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <h3 class="white-important mb-3">
        Syarat dan Ketentuan
    </h3>
   <article class="media content-section">
        <div style="width: 100%; word-break: break-all;">
            <h6>Selamat datang di aplikasi kami, sebuah platform yang dapat membantu anda dalam menjawab pertanyaan-pertanyaan seputar perkuliahan di ITB ataupun mengenai kehidupan setelah berkuliah. Dengan bangga, kami persembahkan aplikasi bernama Gajah Kepo. Terima kasih atas kepercayaan anda telah menggunakan atau mengakses layanan kami. Terdapat syarat dan ketentuan yang perlu anda ketahui untuk kenyamanan semua pihak. Dengan hormat, mohon diperhatikan syarat dan ketentuan yang berlaku pada layanan ini.</h6>
            <br/>
            <h5 class="white-important mb-3">Ketentuan Umum</h5>
            <p>1. Dibutuhkan koneksi internet untuk mengakses layanan Gajah Kepo.<br/>
                2.	Platform ini merupakan aplikasi berbasis website yang dapat diakses dengan gawai, seperti handphone dan laptop.<br/> 
                3.	Aplikasi ini merupakan media perantara layanan yang ditujukan untuk memberikan pertanyaan ataupun jawaban yang akan disambungkan langsung dengan pihak ketiga.</p>
            <h5 class="white-important mb-3">Ketentuan Pengguna</h5>
            <p>1.	Layanan kami dapat diakses oleh mahasiswa ITB, alumni ITB, dosen ITB, dan pelajar SMA. Para pengakses dapat memberikan pertanyaan sekaligus menjawab seputar perkuliahan di ITB.<br/>
                2.	Para pengakses diharuskan mendaftarkan diri dengan data identitas sesuai fakta untuk mendapatkan akun.<br/>
                3.	Setelah mendaftarkan diri di layanan ini, para pengakses akan mendapatkan suatu akun pribadi dengan username dan password.<br/>
                4.	Para pengangkes diharapkan menggunakan bahasa yang sopan dan tidak mengandung unsur SARA dalam berinteraksi di layanan ini.<br/>
                5.	Para pengakses berjanji untuk menggunakan layanan ini dengan tujuan yang semestinya, tidak diperbolehkan untuk menyalahgunakan layanan ini ataupun melakukan kegiatan yang bertentangan dengan hukum. <br/>
                6.	Para pengakses tidak diperkenankan untuk menyebarkan virus dan melakukan spam dalam layanan ini.<br/>
                7.	Kami sewaktu-waktu dapat memblokir akun pengakses yang tidak memenuhi aturan seperti menggunakan identitas palsu.</p>
            <h5 class="white-important mb-3">Keamanan Platform</h5>
            <p>Kami akan berupaya untuk menjaga layanan ini dapat berfungsi dengan baik dan lancar seperti yang semestinya. Kami akan berusaha untuk memfilter kegiatan komunikasi agar tidak adanya penyimpangan yang menyalahi aturan. Namun, di luar dari ketentuan dan syarat yang telah kami paparkan, kami tidak akan bertanggung jawab atas resiko ataupun masalah yang didapatkan oleh pengakses.</p>
            <h5 class="white-important mb-3">Disclaimer dan Batasan Kewajiban</h5>
            <p>Gajah Kepo tidak memberikan jaminan atau representasi  dan melepaskan tanggung jawabdan kewajiban untuk:<br/>
            1.	Kelengkapan,keakuratan,ketersediaan ketepatan waktu,keamanan,atau kendala layanan atau konten apapun.<br/>
            2.	Kerusakan pada gawai, kehilangan data atau kerusakan lain yang diakibatkan karena pengaksesan pada konten apapun<br/>
            3.	Penghapusan, atau kegagalan untuk menyimpan, mengirimkan setiap oknten dan komunikasi lainny yang dikelola oleh layanan</p>
            <h5 class="white-important mb-3">Penutup</h5>
            <p>Terima kasih atas waktu yang telah Anda sisihkan untuk membaca syarat dan ketentuan layanan Gajah Kepo. Diharapkan para pengakses dapat menyetujui syarat dan ketentuan dari layanan ini.</p>
        </div>
   </article>
  </div>
{% endblock content %}